<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
	<resultMap type="com.model2.mvc.service.domain.Purchase" id="purchaseResultMap">
		<result property="tranNo" column="TRAN_NO" jdbcType="NUMERIC" />
		<result property="buyer.userId" column="BUYER_ID" jdbcType="VARCHAR" />
		<result property="purchaseProd.prodNo" column="PROD_NO"
			jdbcType="NUMERIC" />
		<result property="divyAddr" column="DEMAILADDR" jdbcType="VARCHAR" />
		<result property="divyDate" column="DLVY_DATE" jdbcType="DATE" />
		<result property="divyRequest" column="DLVY_REQUEST" jdbcType="VARCHAR" />
		<result property="orderDate" column="ORDER_DATA" jdbcType="DATE" />
		<result property="paymentOption" column="PAYMENT_OPTION"
			jdbcType="CHAR" />
		<result property="receiverName" column="RECEIVER_NAME"
			jdbcType="VARCHAR" />
		<result property="receiverPhone" column="RECEIVER_PHONE"
			jdbcType="VARCHAR" />
		<result property="tranCode" column="TRAN_STATUS_CODE" jdbcType="CHAR" />
	</resultMap>

	<insert id="addPurchase" parameterType="com.model2.mvc.service.domain.Purchase">
		INSERT
		INTO transaction
		VALUES (seq_transaction_tran_no.NEXTVAL,
		#{purchaseProd.prodNo:VARCHAR},
		#{buyer.userId:VARCHAR},
		#{paymentOption:CHAR},
		#{receiverName:VARCHAR},
		#{receiverPhone:VARCHAR},
		#{divyAddr:VARCHAR},
		#{divyRequest:VARCHAR},
		'1',
		SYSDATE,
		#{divyDate:DATE})
	</insert>

	<select id="getPurchase" parameterType="int" resultMap="purchaseResultMap">
		SELECT *
		FROM transaction
		WHERE tran_no=#{value}
	</select>

	<select id="getPurchase2" parameterType="int" resultMap="purchaseResultMap">
		SELECT *
		FROM transaction
		WHERE prod_no=#{value}
	</select>

	<update id="updatePurchase" parameterType="com.model2.mvc.service.domain.Purchase">
		UPDATE transaction
		SET payment_option=#{paymentOption},
		receiver_name=#{receiverName},
		receiver_phone=#{receiverPhone},
		dlvy_request=#{divyRequest},
		demailaddr=#{divyAddr},
		dlvy_date=#{divyDate}
		WHERE tran_no=#{tranNo}
	</update>

	<select id="getPurchaseList" parameterType="java.util.Map" resultMap="purchaseResultMap">
		SELECT *
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
				FROM ( SELECT *
						FROM transaction
						where buyer_id=#{buyerId}
						ORDER BY tran_no ) inner_table
				WHERE ROWNUM &lt;= #{search.endRowNum})
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>

	<select id="getTotalCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT *
			FROM transaction
			where buyer_id=#{buyerId})
	</select>
	
	<update id="updateTranCode" parameterType="com.model2.mvc.service.domain.Purchase">
		UPDATE transaction
		SET tran_status_code=#{tranCode}
		WHERE tran_no=#{tranNo}
	</update>
</mapper>